{% extends 'app1/layout.html' %}

{% block title %}
Инфа обо мне
{% endblock %}


{% block content1 %}
    <div class="features">
        <h1>About me</h1>
        <p>Привет! Меня зовут Чикулаев Михаил, 1993 г.р., образование высшее, окончил с отличием факультет информационных технологий
            Пермского военного института ВНГ РФ в 2016 году, в процессе учебы были изучены такие направления как эксплуатация, техническая защита информации,
        администрирование операционных систем (серверов) на базе Windows (на тот момент), построение и администрирование сетей. <br><br>
            С 2016 по 2018 год выполнял обязанности инженера информационных технологий воинской части (сисадмин по простому), в обязанности входило обслуживание примерно 80 рабочих мест, серверов (AD, KSC, 1C, Hyper-V), техническая защита информации (обслуживание и аттестация объектов информатизации ВП, АС).<br><br>
            С 2018 года по настоящее время инженер-начальник центра специальной связи. В обязанности входит руководить работой подразделения (30 человек), администрировать закрытый сегмент сети (работа с маршрутизаторами, криптомаршрутизаторами округа, межсетевыми экранами, автоматическими телефонными стациями, серверами с СПО).<br><br>
            Сервера эксплуатируются на базе ОС Astra Linux, маршрутизаторы Cisco, Eltex, отечественные криптомаршрутизаторы и межсетевые экраны. В работе применял такие инструменты как Ansible, скрипты (Python, bash) для простой автоматизации некоторых процессов.
            В процессе работы проходил курсы повышения квалификации для подготовки к CCNA. И другие курсы по ОС Linux, отечественным межсетевым экранам (аппаратным), криптомаршрутизаторам. <br><br>
            Направлением DevOps заинтересовался в связи с обилием направлений, сопряженных с данной методологией, возможностью постоянно развиваться и решать новые задачи, желанием изменить формат работы. Ну и огромным желанием двигать, автоматизировать, деплоить :)
            С удовольствием принесу максимальную пользу для вашей компании, и постараюсь как можно быстрее набраться опыта от высококлассных специалистов.<br><br>
            Из необходимых инструментов DevOps самостоятельно постигал:<br>
            Контейнеры - Docker, docker compose<br>
            ОС - Linux<br>
            Автоматизация, парсинг - Python, bash<br>
            IaC - Ansible, Terraform<br>
            CI/CD - Jenkins, GitHub Actions<br>
            Мониторинг - Prometeus, Graphana<br>
            Облака YandexCloud, VK Cloud - разворачивал с помощью Terraform и packer инстансы, s3 backet.<br>
            Немного проникся базами данных - postgres.<br>
            Изучил работу с API, сделал pet project на Django Rest Framework для взаимодействия с БД postgres.<br>
            Веб-сервера - nginx, настраивал балансировщик, разворачивал в связке с приложением и базой данных с помощью docker compose.


        </p>

    </div>

{% endblock %}